@import url("https://fonts.googleapis.com/css2?family=Anton&family=Edu+VIC+WA+NT+Beginner&family=Jacques+Francois+Shadow&family=Londrina+Shadow&family=Noto+Sans+Mono&family=Nunito:wght@300&family=Oswald:wght@200;400&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Edu+VIC+WA+NT+Beginner&family=Jacques+Francois+Shadow&family=Londrina+Shadow&family=Noto+Sans+Mono&family=Nunito:wght@300&family=Oswald:wght@200;400&family=Roboto&display=swap');

/* colores  */
:root {
    --clr-celesteOscuro: #1B4552;
    --clr-blanco: #e2dfdb;
    --clr-verde: #63968c;
    --clr-celestClaro: #548D9E;
    --clr-marron: #9f7a55;
}

/* reseteos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.contenedor-gral {
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: var(--clr-blanco);

}


/* inicia estilos barra lateral */
aside {
    padding: 2rem;
    padding-right: 0;
    position: sticky;
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo {
    font-size: 50px;
}

.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .25rem;

}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    font-weight: 600;
    width: 100%;

}

.boton-carrito {
    margin-top: 2rem;
}

.numero {
    background-color: var(--clr-celesteOscuro);
    padding: .15rem .25rem;
    border-radius: .25rem;
    color: var(--clr-blanco);
}

.bi-hand-index-thumb {
    transform: rotateZ(90deg);

}

.boton-cat.active {
    background-color: var(--clr-celesteOscuro);
    color: var(--clr-blanco);
    width: 100%;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

}


/* inicia estilos de contenedor principal */
main {
    background-color: var(--clr-celesteOscuro);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
 


}

.contenedor-prod {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;


}

.producto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.imagen-producto {
    max-width: 300px;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;

}

.detalles-producto {
    background-color: var(--clr-celestClaro);
    border-radius: 1rem;
    padding: .5rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    

}

.titulo-ppal {
    color: var(--clr-blanco);
    font-size: 2rem;
    padding: 1rem;
}

.titulo-producto {
    font-size: 22px;
}

.agregar-producto {
    border: 0;
    background-color: var(--clr-celesteOscuro);
    border-radius: 1rem;
    color: var(--clr-blanco);
    padding: 0.5rem;
    border: 2px solid var(--clr-celesteOscuro);
    text-transform: uppercase;
    transition: background-color 0.2s;
    cursor: pointer;
}

.agregar-producto:hover {
    background-color: var(--clr-celestClaro);

}


/* inicia estilos de carrito.html */

.carrito-vacio,
.carrito-compro {
    color: var(--clr-blanco)
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-celesteOscuro);
    color: var(--clr-blanco);
    padding: 0.5rem;
    border-radius: 1rem;


}

.carrito-imagen {
    width: 8rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font: 0.75rem;
}

.carrito-producto-borrar {
    color: red;
    border: 0;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}


.carrito-acciones {
    display: flex;
    justify-content: space-between;

}

.boton-carrito-vaciar {
    background-color: transparent;
    color: var(--clr-blanco);
    border: solid 2px var(--clr-celestClaro);
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1rem;
    text-transform: uppercase;
}


.carrito-der {
    display: flex;

}

.carrito-acciones-total {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: var(--clr-blanco);
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    text-transform: uppercase;
    color: black;

}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-celestClaro);
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1rem;
    text-transform: uppercase;
    color: var(--clr-blanco);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.ocultar{
    display: none;
}

/* inicia estilos de footer */

footer {
    background: var(--clr-verde);
    text-align: center;

}

.ubicacion,
.derechos,
.redes {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.ubicacion,
.derechos {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;

}

.bi-geo-alt-fill,
.bi-c-circle,
.redes {
    font-size: 1.5rem;
    color: var(--clr-blanco);

}

.redes {
    font-size: 2.5rem;
    /* padding: 1rem; */
    padding: 1rem;
    gap: 2rem;
}

.bi-facebook:hover {
    text-shadow: 0 0 5px var(--clr-blanco);
}

.bi-instagram:hover {
    text-shadow: 0 0 5px var(--clr-blanco);
}